services:
    profcaju.previewwhoposted.listener:
        class: profcaju\previewwhoposted\event\listener
        arguments:
            - '@dbal.conn'
            - '@user'
            - '%core.root_path%'
            - '%core.php_ext%'
        tags:
            - { name: event.listener }
